@import '/src/styles/global.scss';

.neInput {
  @include font-style;
  @include shape;
  @include inset-shadow;
  width: auto;
  border: none;
  outline: none;
  background: $background;
  text-align: start;

  &.big {
    padding: 18px 38px 18px 38px;
  }

  &:focus {
    @include inset-focus-shadow;
  }
}
