@import '/src/styles/global.scss';

.app {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;

  .area {
    display: flex;
    flex-direction: column;
    width: 600px;

    .displayArea{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 40px;
    }
  }
}
