@import '/src/styles/global.scss';

.neIconButton {
  @include base;
  @include shape;
  @include font-style;
  @include shadow;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    @include hover-shadow
  }

  &:active {
    @include active-shadow
  }

  &.big {
    width: 56px;
    height: 56px;
  }

  &.small {
    width: 40px;
    height: 40px;
  }

  .neIconButtonInside {
    width: 18px;
    height: 18px;
  }
}
